.navbar {
    background-color: #2596be;
    height: 15vh;
    width: 100vw;
    margin-bottom: 5%;
}

.login-self {
    background-color: #2596be;
    border: none;
    color: #f0f5f7;
}

.fa {
    color: #f0f5f7 !important;
}

.login-title {
    color: #f0f5f7 !important;
}

.field {
    width: 100%;
}

.contain-self {
    text-align: center;
}